section.block-main
    .container
        .block-main__row.flex-wrap.aic
            .block-main__links.block-main__col.block-main__col--links
                a(href="").block-main__links-item.flex.aic
                    .block-main__links-icon.flex.aic
                        //- .i-acc
                        img(src="img/acc.png", alt="")
                    span Аккумуляторы
                a(href="").block-main__links-item.flex.aic
                    .block-main__links-icon.flex.aic
                        //- .i-oil
                        img(src="img/oil.png", alt="")
                    span Масла
                a(href="").block-main__links-item.flex.aic
                    .block-main__links-icon.flex.aic
                        //- .i-filter-water
                        img(src="img/filter.png", alt="")
                    span Фильтры
            .block-main__slider.block-main__col.block-main__col--slider.flex-wrap.aic
                //- .block-main__slider-info
                    .swiper-container.js-slider-main-info
                        .swiper-wrapper
                            .block-main__slider-info-top.swiper-slide
                                .block-main__slider-info-title Аккумуляторы
                                p В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности. 
                                a(href="").btn.btn--icon.btn--orange
                                    span Скачать прайс
                                    i.i-download
                            .block-main__slider-info-top.swiper-slide
                                .block-main__slider-info-title Аккумуляторы
                                p В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности. 
                                a(href="").btn.btn--icon.btn--orange
                                    span Скачать прайс
                                    i.i-download
                            .block-main__slider-info-top.swiper-slide
                                .block-main__slider-info-title Аккумуляторы
                                p В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности. 
                                a(href="").btn.btn--icon.btn--orange
                                    span Скачать прайс
                                    i.i-download
                            .block-main__slider-info-top.swiper-slide
                                .block-main__slider-info-title Аккумуляторы
                                p В батареях «FQ» за счет применения высококачественных комплектующих и больших производственных объемов есть баланс улучшенных показателей по емкости, приемлемой стоимости и надежности. 
                                a(href="").btn.btn--icon.btn--orange
                                    span Скачать прайс
                                    i.i-download
                    .block-main__slider-pagination.flex.aic
                        .block-main__slider-pagination-prev.js-main-slider-prev
                            i.i-arrow
                        .block-main__slider-pagination-list.swiper-container.js-slider-pagination
                            ul.flex.aic.swiper-wrapper
                                li.swiper-slide
                                    span 01
                                    .line
                                        span
                                li.swiper-slide 
                                    span 02
                                    .line
                                        span
                                li.swiper-slide 
                                    span 03
                                    .line
                                        span
                                li.swiper-slide 
                                    span 04
                                    .line
                                        span
                        .block-main__slider-pagination-next.js-main-slider-next
                            i.i-arrow
                .block-main__slider-content.swiper-container.js-slider-main
                    li.background
                    .swiper-pagination
                    ul.block-main__slider-list.swiper-wrapper
                        li.block-main__slider-item.swiper-slide(data-color="#3486c7")
                            img(
                                src="img/main-s.png"
                                srcset="img/main-s.png, img/news-main/1.webp 600w", 
                                alt="", 
                                sizes="(max-width: 600px) 320px"
                            )
                        li.block-main__slider-item.swiper-slide(data-color="green")
                            img(
                                src="img/main-s.png"
                                srcset="img/main-s.png, img/news-main/1.webp 600w", 
                                alt="", 
                                sizes="(max-width: 600px) 320px"
                            )
                        li.block-main__slider-item.swiper-slide(data-color="black")
                            img(
                                src="img/main-s.png"
                                srcset="img/main-s.png, img/news-main/1.webp 600w", 
                                alt="", 
                                sizes="(max-width: 600px) 320px"
                            )
                        li.block-main__slider-item.swiper-slide(data-color="red")
                            img(
                                src="img/main-s.png"
                                srcset="img/main-s.png, img/news-main/1.webp 600w", 
                                alt="", 
                                sizes="(max-width: 600px) 320px"
                            )
